<div class="row span4">
  <h3>Send feedback</h3>
  <%= simple_form_for @message, html: { class: 'form-vertical', multipart: true } do |f| %>
    <div class="form-inputs">                          
      <%= f.error_notification %>
      <%= f.input :comment, as: :text, label_html: { id: "comment_feedback" }, label: "",
                            input_html: { rows: 6, class: "span4", id: "comment" } %>
      <%= f.button :submit, "Send!", id: "feedback_submit", class: "btn btn-warning" %>
    </div>
  <% end %>
</div>