<div class="span5">
   <% if @institute.departments.present? %>
      <%= content_tag "div", id: "instituteFlower" do %>
      <% end %>
    <% end %>  

   <% if @institute.nearbys.present? %>
     <%= render 'nearby' %>
   <% end %>
</div>