<% cache @departments do %>
<hr>           
	<h4>
		<%= link_to institute_departments_path(@institute) do %>
			<i class="icon-sitemap"></i> Departments
		<% end %>
	</h4>
	<br>
	    <% @departments.each do |department| %>
	    <div class="department">
		    <p><%= link_to department.name, department_path(department) %></p>
	    </div>
	  <% end %>
	  <br>
    <%= link_to "Add Department", new_institute_department_path(@institute), :class => 'btn-large' %>      
<% end %>
