<% cache @departments do %>
<hr>           
	<h4><%= link_to "Departments", institute_departments_path(@institute) %></h4>
	    <% @departments.each do |department| %>
	    <div class="department">
	    <p><%= link_to department.name, institute_department_path(@institute, department) %></p>
	    </div>
	  <% end %>
<% end %>
