<%- model_class = Institute -%>
  <% if @institute.url.present? && @institute.icon.present? %>
  	<%= link_to image_tag(@institute.icon.url(:portrait).html_safe), @institute.url, target: "_blank" %>
  <% elsif @institute.url.present? && @institute.icon.blank? %>
    <h4><%= link_to "#{@institute.url}", @institute.url, only_path: false, target: "_blank"  %></h4>
    <br>
  <% end %>
  <br><br>
  <% if @institute.address.present? %>
    <h4><%= @institute.address %></h4>
  <% end %>