<div class="institute">
	<table class="institute_index">
  	<% if institute.icon? %>
    	<td><%= link_to image_tag(institute.icon.url.to_s).html_safe, institute  %></td>
        <td><%= link_to "#{institute.name}".html_safe, institute %></td>
        <br>
    <% else %>
        <td><%= link_to "#{institute.name}".html_safe, institute %><td>
        <br>
 		<% end %>		    	 
	</table>
</div>


