<% cache institute do %>
	<div class="institute">
		<table>
		  <tbody>
		      <tr>
		        <td><%= link_to image_tag(institute.icon_url(:thumb).to_s).html_safe + "  #{institute.name}".html_safe, institute %></td>
		      </tr>
		  </tbody>
		</table>
	</div>
<% end %>


