<% cache @labs do %>
<hr>           
	<h4>
		<%= link_to institute_labs_path(@institute) do %>
			<i class="icon-group"></i><%=  " Groups" %>
		<% end %>
	</h4>
	<br>
	    <% @labs.each do |lab| %>
	    <div class="lab">
		    <p>
		    	<%= link_to lab.lab_name, lab_path(lab) %>
		    <br>
		    	<%= pluralize(lab.users.count, "member") %>
		  	</p>
	    </div>
	  <% end %>
<% end %>