<% cache @labs do %>
<hr>           
	<h4>
		<%= link_to institute_labs_path(@institute) do %>
			<i class="icon-group"></i><%=  " Labs" %>
		<% end %>
	</h4>
	<br>
	    <% @labs.each do |lab| %>
	    <div class="lab">
		    <p><%= link_to lab.lab_name, lab_path(lab) %></p>
	    </div>
	  <% end %>
<% end %>