<% cache @institute do %>
	  <hr>
	  <h4><i class="icon-globe"></i><%= link_to " Nearby Institutes", "#{root_url}institutes/?utf8=✓&search=#{@institute.city}" %></h4>
	  <% for institute in @institute.nearbys(50) %>
	   <p><%= link_to institute.name, institute %> (<%= institute.distance.round(2) %> km)</p>
	  <% end %>
<% end %>