<% cache @institute do %>
	  <hr>
	  <h4>
	  	<%= link_to "#{root_url}institutes/?utf8=✓&search=#{@institute.city}" do %>
		  	<i class="icon-globe"></i><%= " Nearby Institutes" %>
	  	<% end %>
	  </h4>
	  <br>
	  <% for institute in @institute.nearbys(50) %>
	   <p><%= link_to institute.name, institute %> (<%= institute.distance.round(1) %> km)</p>
	  <% end %>
<% end %>