<%- model_class = Institute -%>
<div class="page-header">
  <h3>
  	<%= "Update the #{@institute.name}" %>
  	<% if @institute.acronym.present? %>
      (<%= "#{@institute.acronym}" %>)
    <% end %>
  </h3>
</div>
 	
<%= render :partial => 'form' %>