<%- model_class = Institute -%>
<div class="page-header">
  <h3><%= pluralize @institutes.count, "institute" %></h3>

  <%= link_to "Add new institute",
            new_institute_path,
            :class => 'btn' %>
</div>


<%= render @institutes %>

