<%- model_class = Institute -%>
<div class="page-header">
  <h3 class="text-muted"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>

<%= render @institutes %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_institute_path,
            :class => 'btn btn-primary' %>
