<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Feedback from <%= mail_to "test@test.com", "test@test.com" %></h3>
    <p>
    	omg please work
     <%#= "#{ @test.comment }" %>
    </p>
  </body>
</html>