<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.fullname %>!</h1>
    <p>
      You cannot join the <%= @lab.name %> lab at this time!
    </p>
  </body>
</html>