<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.fullname %>!</h1>
    <p>
      Welcome to the <%= @lab.name %> lab!
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to @url %>.
    </p>
  </body>
</html>