<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>
  		Dear <%= @lab.gl.fullname %>, 
  	</p>
    <p>
      <%= @user.fullname %> would like to <%= link_to "join your lab", lab_users_path(@lab) %>!
    </p>
  </body>
</html>