<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @gl.fullname %>!</h1>
    <p>
      <%= link_to @user.fullname, user_url(@user) %> would like to join your <%= link_to "lab", lab_users_url(@lab) %>!
    </p>
  </body>
</html>