<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.fullname %>!</h1>
    <p>
      Welcome to the <%= @lab.gl.fullname %> lab!
    </p>
    <p>
      Login to <%= link_to "Infinitory" , new_user_session_url %>.
    </p>
  </body>
</html>