<% if @device.errors.any? %>
  <div class="errors">
    <h3>
      <%= pluralize(@device.errors.count, 'error') %>
      prohibited this device from being saved:
    </h3>
    <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>