<div class="row">
	<div class="span3">
		<h2><small>Edit <%= @booking.device.fullname %> booking</small></h2>
		<%= render 'form' %>
		<%= link_to 'Back', device_bookings_path(@booking.device) %>
	</div>
	<div class="span9">
		<div id="calendar_edit"></div>
	</div>
</div>
