<div class="row">
	<div class="span3">
		<h1>Edit booking</h1>
		<%= render 'form' %>
		<%= link_to 'Back', device_bookings_path(@booking.device) %>
	</div>
	<div class="span9">
		<div id="calendar_edit"></div>
	</div>
</div>
