<div class="row">
	<div class="span3">
		<h2><small>New <%= @device.fullname %> booking</small></h2>
		<%= render 'form' %>
		<%= link_to 'Back', device_bookings_path(@device) %>
	</div>
	<div class="span9">
		<div id="calendar_new"></div>
	</div>
</div>
