<% if @activities.present? %>
	  <% @activities.each do |activity| %>
	    <h4 class="list-group-item-heading"><%= time_ago_in_words(activity.created_at) %> ago</h4>
		    <p class="text-group-item-text"><%= render_activity activity %> <%= badging(activity) %></p>
	  <% end %>
<% end %>