<% if @approvals.count > 0 && current_user.gl_lm? && current_user.lab_id == @lab.id %>
  <table class="table">
    <thead>
      <% if current_user.gl_lm? && @approvals.count > 0 %>
        <h4>Members awaiting authorization</h4>
      <% end %>
    </thead>
    <tbody>
      <% @approvals.each do |user| %>
        <tr>
          <td><%= user.fullname %></td>
          <td>
            <%= link_to ' Authorize', activate_user_path(user), class: 'btn btn-info fa fa-lg fa-check-square-o' %>
          </td>
          <td>
            <%= link_to ' Decline', reject_user_path(user), class: 'btn btn-danger fa fa-lg fa-minus-square-o' %>
          </td> 
          <% end %>    
        </tr>
    </tbody>
  </table>
<% end %>