<%- model_class = User -%>
<div class="page-header">
  <h3>
    <%= link_to @lab do %>
     <i class="icon-group"></i><%= " #{@lab.gl.fullname} group members" %>
     <% end %>
  </h3>
</div>
 
<%= render 'approvals' %>

<%= render 'users' %>

