<% if @department.labs.present? %>
	<% cache @labs do %>
		<h4><i class="icon-group"></i> Labs</h4>
		  <% @labs.each do |lab| %>
		    <div class="department">
		    <p><%= link_to lab.name, lab %></p>
		    </div>
		  <% end %>
		  <hr>
	<% end %>
<% end %>
