<% if @department.labs.present? %>
	
		<h4><i class="icon-group"></i> Labs</h4>
		  <% @labs.each do |lab| %>
		    <div class="department">
		    <p><%= link_to lab.gl.fullname, lab %></p>
		    </div>
		  <% end %>
	
<% end %>
