<% if @department.nearbys.present? %>
  <h4><%= link_to "Nearby Departments", institute_departments_path(@institute), 'data-no-turbolink' => true  %></h4>
  <% for department in @department.nearbys(50) %>
   <p><%= link_to department.name, institute_department_path(@institute, department), 'data-no-turbolink' => true %> (<%= department.distance.round(2) %> km)</p>
  <% end %>
  </ul>
<% end %>
