<%- model_class = Department -%>
<div class="page-header">
  <h3 class="text-muted"><%= "Update info for #{@department.name} " %></h3>
</div>

<div class="container-fluid">
  <div class="span12">
			<div class="span5">  	
			<%= render :partial => 'form' %>	
			</div>		               
			<div class="span6" id='gmaps-canvas'></div>
	</div>
</div>
