<%- model_class = Department -%>
<div class="page-header">
  <h3 class="text-muted"><%= "Update info for #{@department.name} " %></h3>
</div>

<%= render :partial => 'form' %>	
<div class="span6" id='gmaps-canvas'></div>
