<%= render 'header' %>
<div class="row">
  <div class="span4">
     <%= render 'info' %>
     <%= render 'lab' %>
  </div>
  <div class="span7">  
   <%= content_tag "div", id: "departmentFlower" do %>
    <% end %>    
  </div>
</div>