<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @email %> has requested a group leader account!</h3>
    <h4>
      Department: <%= @department %>
    </h4>
    <h4>
      Institute: <%= @institute %>
    </h4>
  </body>
</html>