<span class="text-center">
	<h2>Group leader account request</h2>
	<h4>Lab members -><p class="inline-block lead"><%= link_to "Register here", new_user_registration_path, class: "btn btn-warning" %></p></h4>
</span>

<div class="row">
  <%= render 'form' %>
</div>