<span class="text-center">
	<h2>Group leader account request</h2>
	<h4>Lab members <%= link_to "go here", new_user_registration_path %></h4>
</span>

<div class="row span4">
  <%= render 'form' %>
</div>