<div class="faq">
	<h1>Frequently Asked Questions</h1>
	<br>
	<h2>General</h2>
	<h3>What is Infinitory?</h3>
	<h4>Infinitory is a lab inventory and member management system. It gives labs the ability to build a real-time inventory of their most expensive reagents and devices. Automated real time notices are sent to members whenever their reagents are running low, expiring soon or when their devices break or are repaired.</h4>

	<h3>Who can use Infinitory?</h3>
	<h4>Any scientific lab or institute conducting basic research.</h4>

	<br>
	<h2>Pricing</h2>

	<h3>How much does it cost to use Infinitory?</h3>
	<h4>Infinitory is free for the first 3 months, then labs are billed €8 ($11) per member per month.</h4>

	<h3>Can Infinitory really save my lab money?</h3>
	<h4>Absolutely! During the 3 month trial period most labs will enjoy a significant boost to productivity and efficiency, far in excess of what Infinitory would cost. Labs that don't, can quit.</h4>

	<h3>How secure is your payment system?<h3>
	<h4>We employ a recognized third party service to handle credit card payments (<a href="https://www.braintreepayments.com/">Braintree</a>). Your credit card data is never stored on Infinitory's servers and your information is sent over an encrypted channel, making Infinitory <a href="https://www.pcisecuritystandards.org/">PCI compliant</a>.</h4>

	<br>
	<h2>Integrating</h2>

	<h3>How should we start using Infinitory?</h3>
	<h4>It is highly recommended that your lab takes a day off to perform an initial global inventory. Following this, members can maintain the inventory by spending less than 5-10 minutes per day on Infinitory.</h4>

	<h3>What if some members of the lab never contribute to keeping the inventory updated?</h3>
	<h4>Infinitory works most effectively when everyone contributes to prevent the lab catalog from becoming stale and inaccurate. To address this, Infinitory automatically awards points to members whenever they create, delete or edit items. This score is displayed on each member's page and over time it will be obvious who is contributing and who isn't.</h4>

	<br>
	<h2>Privacy</h2>

	<h3>Does Infinitory store my lab's experimental data?</h3>
	<h4>No. We only store data of your lab's members, devices and reagents. It is not possible to upload experimental results to Infinitory.</h4>

	<h3>Can I pool parts of my inventory with other labs?</h3>
	<h4>Yes, but only if you do two things.
		<br> 1) Group leaders must explicitly link their labs to other labs in their lab's edit form.
		<br> 2) By default every item added to Infinitory is private. Lab members must manually share specific items with your linked labs. Shared items can only be accessed by linked labs.</h4>

	<h3>Can random people see my lab's inventory?</h3>
	<h4>No. In order to see your inventory a person must:
		<br> 1) Have a confirmed Infinitory account & belong to your lab or
		<br> 2) be a registered member of a linked lab.</h4>
</div>