<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="text-center jumbotron">
  <span id="jumbotext">    
    <h2>Enhanced lab inventory management system</h2>
    <h1>INFINITORY</h1>
  </span>
  <%= link_to " Sign-up", new_user_registration_path, class: "btn-large btn-warning icon-hand-up" %>
</div>

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="icon-beaker"></i> Organize reagents</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-lg-4">
      <h2><i class="icon-gears"></i> Track devices</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
   </div>   
    <div class="col-lg-4">
      <h2><i class="icon-group"></i> Connect people</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>
</div>