<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="text-center jumbotron">
  <span id="jumbotext">    
    <h3>Enhanced lab inventory management system</h3>
    <h1>INFINITORY</h1>
  </span>
  <%= link_to " Sign-up", new_user_registration_path, class: "btn-large btn-warning icon-hand-up" %>
</div>

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2 class="text-center"><i class="icon-beaker"></i> Organize</h2><hr>
      <p class="lead text-center">Catalogue your lab's inventory</p>
      <p class="lead text-center">Receive reagent depletion warnings</p>
      <p class="lead text-center">Get notified of device breakdowns</p><br>  
    </div>
    <div class="col-lg-4">
      <h2 class="text-center"><i class="icon-gears"></i> Discover</h2><hr>
      <p class="lead text-center">Set anything to private or public status</p>
      <p class="lead text-center">Link your lab to other labs</p>
      <p class="lead text-center">Pool resources with linked labs</p><br>
   </div>   
    <div class="col-lg-4">
      <h2 class="text-center"><i class="icon-group"></i> Collaborate</h2><hr>
      <p class="lead text-center">Improve device saturation</p>
      <p class="lead text-center">Eliminate reagent waste</p>
      <p class="lead text-center">Monitor it all in realtime</p><br>
    </div>
  </div>
</div>