<div class="bg"></div>
<div class="jumbotron">
  <span id="jumbotext">
    <h1>INFINITORY</h1>
    <h3>Enhanced lab inventory management system</h3>
      <%= link_to new_user_registration_path, class: "btn btn-warning" do %>
        <i class="fa fa-lg fa-hand-o-up"> Sign-up</i>
      <% end %>   
  </span>
</div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" id="why">
        <div class="span4">
          <h1 class="text-muted"><%= fa_icon "flask", class: "fa-lg" %></h1>        
          <h2 class="text-muted test1">Organize</h2><br>
          <p class="lead">Catalog your reagents</p>
          <p class="lead">Eliminate redundant purchases</p>
          <p class="lead">Get depletion & expiration warnings</p><br>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div><!-- /.span4 -->
        <div class="span4">
          <h1 class="text-muted"><%= fa_icon "gears", class: "fa-lg" %></h1>
          <h2 class="text-muted">Discover</h2><br>
          <p class="lead">Catalog your devices</p>
          <p class="lead">Book and track them online</p>
          <p class="lead">Improve user and device saturation</p><br>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div><!-- /.span4 -->
        <div class="span4">
          <h1 class="text-muted"><%= fa_icon "group", class: "fa-lg" %></h1>
          <h2 class="text-muted">Collaborate</h2><br>
          <p class="lead">Link to other labs</p>
          <p class="lead">Pool resources efficiently</p>
          <p class="lead">Monitor everything in real time</p><br>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" id="how">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../images/petri_signup.png">
        <h2 class="featurette-heading">Step 1: <span class="muted">Sign-up</span></h2>
        <p class="lead">Group leaders first create their account, which triggers automatic generation of a lab account. Members then sign-up and link to their lab account.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="../images/petri_initial_catalog.jpg">
        <h2 class="featurette-heading">Step 2: <span class="muted"> Initial catalog</span></h2>
        <p class="lead">Establish a location code in your lab. Take one day off to catalog the lab together. Catalog only what you want to track on Infinitory. Add anything. Add everything.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../images/petri_steady_state.jpg">
        <h2 class="featurette-heading">Step 3: <span class="muted">Steady state</span></h2>
        <p class="lead">Collectively maintain your inventory with only five minutes per member per day on Infinitory. Take advantage of real time metrics on your lab. Waste less. Accomplish more.</p>
      </div>

      <hr class="featurette-divider">