<div class="bg"></div>
<div class="jumbotron">
  <span id="jumbotext">
    <h1>INFINITORY</h1>
    <h3>Enhanced lab inventory management system</h3>
    <%= link_to " Sign-up", new_user_registration_path, class: "btn btn-warning icon-hand-up" %>
  </span>
</div>
<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2 class="text-center"><%= fa_icon "flask" %> Organize</h2><hr>
      <p class="lead text-center">Catalog your reagents</p>
      <p class="lead text-center">Eliminate redundant purchases</p>
      <p class="lead text-center">Get depletion & expiration warnings</p><br>
    </div>
    <div class="col-lg-4">
      <h2 class="text-center"><%= fa_icon "gears" %> Discover</h2><hr>    
      <p class="lead text-center">Catalog your devices</p>
      <p class="lead text-center">Book and track them online</p>
      <p class="lead text-center">Improve user & device saturation</p><br>
   </div>   
    <div class="col-lg-4">
      <h2 class="text-center"><%= fa_icon "group" %> Collaborate</h2><hr>
      <p class="lead text-center">Link to other labs</p>
      <p class="lead text-center">Pool resources efficiently</p>
      <p class="lead text-center">Monitor everything in real time</p><br>
    </div>
  </div>
</div>