<div class="bg"></div>
<div class="jumbotron">
  <span id="jumbotext">
    <h1>INFINITORY</h1>
    <h3>Enhanced lab inventory management system</h3>
    <%= link_to " Sign-up", new_user_registration_path, class: "btn btn-warning icon-hand-up" %>
  </span>
</div>
<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2 class="text-center"><i class="icon-beaker"></i> Organize</h2><hr>
      <p class="lead text-center">Catalog your inventory</p>
      <p class="lead text-center">Locate items via search</p>
      <p class="lead text-center">Monitor it all in real time</p><br>
    </div>
    <div class="col-lg-4">
      <h2 class="text-center"><i class="icon-gears"></i> Discover</h2><hr>    
      <p class="lead text-center">Link to items of interest</p>
      <p class="lead text-center">Receive reagent depletion and expiration warnings</p>
      <p class="lead text-center">Get instant notification of device breakdown and repair</p><br>
   </div>   
    <div class="col-lg-4">
      <h2 class="text-center"><i class="icon-group"></i> Collaborate</h2><hr>
      <p class="lead text-center">Eliminate reagent waste</p>
      <p class="lead text-center">Improve device saturation</p>
      <p class="lead text-center">Pool resources efficiently</p><br>
    </div>
  </div>
</div>