<div class="span4">													

<h4>Invite another scientist or lab member</h4>
<br>
<%= simple_form_for resource, as: resource_name,
															url: invitation_path(resource_name),
															html: {method: :post} do |f| %>
	<%= f.error_notification %>
	<% resource.class.invite_key_fields.each do |field| -%>
	  <%= f.input field, label: false,  placeholder: "Enter e-mail address", autofocus: true %>
	<% end -%>
	<%= f.button :submit, "Send Invitation!", class: "btn btn-warning" %>
</div>
<% end %>