<div class="span6">													

<h4>Invite another scientist or lab member</h4>
<br>
<%= simple_form_for resource, as: resource_name,
															url: invitation_path(resource_name),
															html: {method: :post} do |f| %>
	<%= f.error_notification %>
	<% resource.class.invite_key_fields.each do |field| -%>
	  <%= f.input field, label: false,  placeholder: "Enter e-mail address", autofocus: true %>
	<% end -%>
	<%= button_tag(type: 'submit', class: "btn btn-warning") do %>
    <i class="fa fa-thumbs-o-up"></i> Send Invitation!
  <% end %>
<% end %>
</div>