<h3>Invite a scientist</h3>

<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post} do |f| %>
  <%= f.error_notification %>

<% resource.class.invite_key_fields.each do |field| -%>
  <%= f.input field %>
<% end -%>

<%= f.button :submit, "Send!", class: "btn btn-warning" %>
<% end %>
