<% cache @lab do %>
	<% for collaboration in @lab.collaborations %>
		<h4><%= collaboration.collaborator.gl.fullname %></h4>
		<p>Collaboration initiated <%= time_ago_in_words(collaboration.created_at) %> ago</p>
		<p><%= link_to ' End collaboration',
										collaboration,
										method: :delete,
										data: { confirm: "Are you sure you want to end your collaboration with #{ collaboration.collaborator.gl.fullname }? This lab will no longer be able to access your lab's shared items." },
                    class: 'btn btn-danger fa fa-chain-broken' %></p>
    <hr>
	<% end %>
<% end %>