/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require bootstrap_and_overrides
 *= require gmaps4rails
 *= require_self
 *= require_tree .
 */

#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
width: 100%;
/*Negative indent footer by its height*/
margin: 0 auto -40px;
position: fixed;
left: 0;
top: 0;
}

.footer {
border-top-style: solid;
border-width: 1px;
border-color: grey;
position: fixed;
bottom: 0;
left: 0;
right: 0;
height: 30px;
background-color: white;
	p {
	text-decoration: none;
	font-size: 1.2em;	
	padding: 5px;
		a:hover {
			text-decoration: none;
		}
	}
}

.jumbotron {
	background-image:url('dandelion.jpg');
	background-size: cover;
}

#jumbotext {
	color: green;
}

#gmaps-canvas {
  height: 400px;
  width: 100%;

  border: 1px solid #999;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
}

#gmaps-error {
  color: #cc0000;
}

#results {
  color: #555;
  padding-top: 10px;
}


