<h3>Group Leader / Lab Registration</h3>
	<%= simple_form_for @lab, :html => { :class => 'form-inline' } do |f| %>
	  <%= f.association :institute, as: :string %>
	  <div class="form-actions">
	    <%= f.button :submit, :class => 'btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                institutes_path, :class => 'btn' %>
	  </div>
	<% end %>
