<%- model_class = Lab -%>
  <h3><%= "Labs at the #{@institute.name}" %></h3>
<table class="table">
  <thead>
    <tr>
      <th>Group Leader</th>
      <th>Established</th>
      <th>Members</th>
    </tr>
  </thead>
  <tbody>
    <% @labs.each do |lab| %>
      <tr>
        <td><%= link_to lab.gl.fullname, lab_path(lab) %></td>
        <td><%= time_ago_in_words(lab.created_at) %> ago</td>
        <td><%= lab.users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
