<%- model_class = Lab -%>

<% if params[:department_id].present? %>
	<div class="page-header">
	  <h3>New <%= @department.name %> lab</h3>
	</div>
	<%= render :partial => 'form' %>
<% else %>
	<div class="page-header">
	  <h3>New <%= @institute.name %> lab</h3>
	</div>
	<%= render :partial => 'form' %>
<% end %>
