<br><br><br>
<footer class="footer">
  <p>&copy;<%= Time.now.year %> | <i class="fa fa-question-circle fa-lg"> <%= link_to 'About ', page_path('about') %></i> | <i class="fa fa-lock fa-lg"> <%= link_to "Privacy Policy ", page_path('privacy') %></i>
  <% if user_signed_in? %>
  | <i class="fa fa-envelope fa-lg"> <%= link_to "Feedback", new_message_path %></i></p>
  <% end %>
</footer>