<br><br><br>
<footer class="footer">
  <p>&copy;<%= Time.now.year %> - <i class="fa fa-question-circle fa-lg"></i> <%= link_to 'About ', page_path('about') %> - <i class="fa fa-eye-slash fa-lg"></i> <%= link_to "Privacy Policy ", page_path('privacy') %> - <i class="fa fa-envelope fa-lg"></i> <%= link_to "Feedback", page_path('feedback') %></p>
</footer>