<%- model_class = Account -%>
<div class="page-header text-center">
  <h3>Account information for the <%= @lab.gl.fullname %> lab</h3><br>
</div>

<div class="row">
	<div class="span8 offset2">
		<h3>Hello World</h3>
	</div>
</div>